
analyses/.DS_Store
/Users/sr320/Documents/GitHub/project-virginica-oa/data/dignore/*.fq.gz

*.bt2

*.fa

*.fna

analyses/2018-04-27-Bismark/2018-04-27-Bismark-Inputs/C_virginica-3.0_genomic.fna.gz

*.bam
*.merged
*deduplicated.txt

analyses/2018-06-11-DML-Analysis/C_virginica-3.0_CG-motif.bed

analyses/2018-06-11-DML-Analysis/C_virginica-3.0_Gnomon_exon.bed

analyses/2018-06-11-DML-Analysis/C_virginica-3.0_Gnomon_mRNA.gff3

analyses/2018-06-11-DML-Analysis/C_virginica-3.0_intron.bed

analyses/2018-06-11-DML-Analysis/2018-06-11-DML-mRNA.txt

analyses/2018-06-11-DML-Analysis/2018-06-11-Exon-CGmotif.txt

analyses/2018-06-11-DML-Analysis/2018-06-11-Intron-CGmotif.txt

analyses/2018-06-11-DML-Analysis/2018-06-11-mRNA-CGmotif.txt
.Rproj.user

analyses/2018-06-11-DML-Analysis/uniprot-filtered-reviewed.fasta

analyses/2018-06-11-DML-Analysis/uniprot-filtered-reviewed.fasta.phr

analyses/2018-06-11-DML-Analysis/uniprot-filtered-reviewed.fasta.pin

analyses/2018-06-11-DML-Analysis/uniprot-filtered-reviewed.fasta.psq

analyses/2018-06-11-DML-Analysis/2018-06-19-mRNA-100bp-Flanks-CGmotif.txt

*.fasta

*.phr

analyses/2018-06-14-Gene-Enrichment-Analysis/uniprot-filtered-reviewed.fasta.pin

analyses/2018-06-14-Gene-Enrichment-Analysis/uniprot-filtered-reviewed.fasta.psq

analyses/2018-06-14-Gene-Enrichment-Analysis/2018-09-16-mRNA-Exon-Uniprot.csv

analyses/2018-06-14-Gene-Enrichment-Analysis/2018-09-16-Exon-DML-Uniprot.csv

analyses/2018-06-11-DML-Analysis/2018-09-16-IGV-Comparisons/sample1.bedGraph

analyses/2018-06-11-DML-Analysis/2018-09-16-IGV-Comparisons/sample10.bedGraph

analyses/2018-06-11-DML-Analysis/2018-09-16-IGV-Comparisons/sample2.bedGraph

analyses/2018-06-11-DML-Analysis/2018-09-16-IGV-Comparisons/sample3.bedGraph

analyses/2018-06-11-DML-Analysis/2018-09-16-IGV-Comparisons/sample4.bedGraph

analyses/2018-06-11-DML-Analysis/2018-09-16-IGV-Comparisons/sample5.bedGraph

analyses/2018-06-11-DML-Analysis/2018-09-16-IGV-Comparisons/sample6.bedGraph

analyses/2018-06-11-DML-Analysis/2018-09-16-IGV-Comparisons/sample7.bedGraph

analyses/2018-06-11-DML-Analysis/2018-09-16-IGV-Comparisons/sample8.bedGraph

analyses/2018-06-11-DML-Analysis/2018-09-16-IGV-Comparisons/sample9.bedGraph
*.bai
*.bedGraph
*.gz
.RData
analyses/2018-10-22-DML-Analysis/2018-10-22-DML-mRNA.txt
analyses/2018-10-22-DML-Analysis/2018-10-22-Exon-CGmotif.txt
analyses/2018-10-22-DML-Analysis/2018-10-22-Intron-CGmotif.txt
analyses/2018-10-22-DML-Analysis/2018-10-22-mRNA-CGmotif.txt
