
analyses/.DS_Store
/Users/sr320/Documents/GitHub/project-virginica-oa/data/dignore/*.fq.gz

*.bt2

*.fa

*.fna

analyses/2018-04-27-Bismark/2018-04-27-Bismark-Inputs/C_virginica-3.0_genomic.fna.gz

*.bam
*.merged
*deduplicated.txt

analyses/2018-06-11-DML-Analysis/C_virginica-3.0_CG-motif.bed

analyses/2018-06-11-DML-Analysis/C_virginica-3.0_Gnomon_exon.bed

analyses/2018-06-11-DML-Analysis/C_virginica-3.0_Gnomon_mRNA.gff3

analyses/2018-06-11-DML-Analysis/C_virginica-3.0_intron.bed

analyses/2018-06-11-DML-Analysis/2018-06-11-DML-mRNA.txt

analyses/2018-06-11-DML-Analysis/2018-06-11-Exon-CGmotif.txt

analyses/2018-06-11-DML-Analysis/2018-06-11-Intron-CGmotif.txt

analyses/2018-06-11-DML-Analysis/2018-06-11-mRNA-CGmotif.txt
